html, body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 20px #aaaaaa;
}

main {
    padding: 15px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* page flexbox divs */

.top-div {
    display: flex;
    justify-content: space-between;
}

.middle-div {
    text-align: center;
}

/* cryptocurrency container */

.crypto-container {
}

.coin-container {
    display: flex;
    align-content: center;
    gap: 10px;
    margin-bottom: 0.5em;
}

.coin-container > h3 {
    margin: 0;
    padding: 0;
    text-shadow: 0px 0px 0.5rem black;
}

.coin-icon {
    height: 25px;
    width: 25px;
    align-self: center;
    background-color: black;
    border-radius: 50%;
}

/* weather container styling */

.weather-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    text-shadow: 0px 0px 0.5rem black;
}

.weather-container > h2,
.weather-container > h3 {
    margin: 0;
    padding: 0;
}

.weather-container > h2 {
    display: flex;
    align-items: center;
}

.weather-icon {
    width: 2em;
}

/* artist container styling */

#artist {
    font-size: 0.75rem;
    text-shadow: 0px 0px 0.5em black;
}