/* Banner styling */

.banner {
    font-size: 0.875rem;
    line-height: 1.43em;
    border-radius: 0.43em;
    font-weight: 400;
    padding: 0.8em;
    margin: 0.25em;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
      "icon title"
      "none content";
    justify-content: start;
    align-items: start;
  }
  
  .icon { 
    font-size: 1.25rem;
    grid-area: icon;
    margin-right: 0.5em;
  }
  
  .banner-title {
    font-weight: 500;
    grid-area: title;
  }
  
  .content {
    margin-top: 0.25em;
    grid-area: content;
  }
  
  .success {
    background: #ECFDF5;
    color: #047857;
  }
  
  .success .banner-title {
    color: #065F46;
  }
  
  .success .icon {
    color: #34D399;
  }
  
  .warning {
    background: #FFFBEB;
    color: #B45309;
  }
  
  .warning .banner-title {
    color: #92400E;
  }
  
  .warning .icon {
    color: #FBBF24;
  }
  
  .error {
    background: #FEF2F2;
    color: #B45309;
  }
  
  .error .banner-title {
    color: #92400E;
    font-weight: 700;
  }
  
  .error .icon {
    color: #F87171
  }
  
  .neutral {
    background: #EFF6FF;
    color: #1C51B9;
  }
  
  .neutral {
    color: #1E40AF;
  }
  
  .neutral .icon {
    color: #60A5FA;
  }