*, *::before, *::after {
    box-sizing: border-box;
}

/* selectors */

.bold {
    font-weight: bold;
    
}

/* body styling */

body{
    margin: 0 auto;
    max-width: 1000px;
    min-width: 300px;
    background-image: url("./images/bg_space.jpg");
    background-position: cover;
    background-attachment: fixed;
    color: white;
}

/* Header styling */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5em;
}

.nav-title {
    display: flex;
    align-items: center;
}

.header-icon {
    height: 4em;
}

.main-title {
}

nav > ul {
    list-style-type: none;
    display: flex;
    gap: 0.5em;
}

/* Main styling */

.character-post {
    display: flex;
    flex-direction: column;
    padding: 1em;
    position: relative;
}


.post-splash {
    display: block;
    width: 100%;
    max-width: 400px;
    max-height: 10em;
    object-fit: cover;
    margin: 0 auto;
}

.post-quote {
    width: 100%;
    max-width: 400px;
    position: absolute;
    top: 6em;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
}

.post-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    margin: 0;
}

.post-title > h1 {
    margin: 0;
}

.type-icon {
    height: 2em;
}

.post-container > p {
    margin-bottom: 0.5rem;
}

@media (min-width: 600px) {
    .grid-container {
        display: grid;
        grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
    }
}

@media (min-width: 900px) {
    .grid-container {
        display: grid;
        grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr) minmax(300px, 1fr);
    }
}