*, *::before, *::after {
    box-sizing: border-box;
}

/* Fonts */

@font-face {
    font-family: "DIN";
    src: url("./fonts/DIN.ttf");
}

/* selectors */

.bold {
    font-weight: bold;
}

p { 
    margin: 0.2em 0;
    font-size: 1.25rem;
}

h1, h2, h3 {
    margin: 0.5em 0 0.25em 0;
}

/* body styling */

body{
    font-family: "DIN", sans-serif;
    font-size: 1.2rem;
    margin: 0 auto;
    max-width: 1000px;
    min-width: 300px;
    background-image: url("./images/bg_space.jpg");
    background-position: cover;
    background-attachment: fixed;
    color: white;
}

.home {
    background-color: white;
    color: black;
}

/* Header styling */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
    background-color: black;
}

.nav-title {
    display: flex;
    align-items: center;
}

.header-icon {
    height: 3em;
}

nav > ul {
    list-style-type: none;
    display: flex;
    gap: 0.5em;
}

.link {
    cursor: pointer;
}

.link:hover,
.link:focus {
    color: pink;
    text-decoration: underline;
}

/* Main styling */

main {
    padding: 0;
}

.hero-container {
    margin-bottom: 2em;
}

.hero-image {
    width: 100%;
}

.hero-index {
    position: relative;
}

.hero-text {
    margin: 0 1.5em;
}

.hero-index > .hero-text {
    padding: 0.25em;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    min-width: 40vw;
    position: absolute;
    bottom: -0.5em;
    left: 5vw;
    margin-left: auto; 
    margin-right: auto;
}

.character-post {
    display: flex;
    flex-direction: column;
    position: relative;
    grid-area: "post";
}

.post-splash {
    display: block;
    width: 100%;
    max-width: 400px;
    max-height: 12em;
    object-fit: cover;
    margin: 0 auto;
}

.post-quote {
    width: 100%;
    max-width: 400px;
    position: absolute;
    top: 8em;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
}

.post-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    margin: 0;
}

.type-icon {
    margin-right: .25em;
    height: 2em;
    padding: 2px;
    border: white 2px solid;
    border-radius: 50%;
}

.post-container > p {
    margin-bottom: 0.5rem;
}

.character-title {
    text-align: center;
}

.grid-container {
    margin: 0 1em;
    display: grid;
    grid-template-columns: 1fr;

}

@media (min-width: 600px) {
    .grid-container {
        grid-template-columns: minmax(275px, 1fr) minmax(275px, 1fr);
        gap: 1em;
    }
}

@media (min-width: 900px) {
    .grid-container {
        grid-template-columns: minmax(275px, 1fr) minmax(275px, 1fr) minmax(275px, 1fr);
        gap: 1em;
    }
}