*, *::before, *::after {
    box-sizing: border-box;
}

/* selectors */

.bold {
    font-weight: bold;
}

p { 
    margin: 0.2em 0;
}

h1 {
    margin: 0;
}

/* body styling */

body{
    /* font-size: 1.2rem; */
    margin: 0 auto;
    max-width: 1000px;
    min-width: 300px;
    background-image: url("./images/bg_space.jpg");
    background-position: cover;
    background-attachment: fixed;
    color: white;
}

/* Header styling */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
    background-color: black;
}

.nav-title {
    display: flex;
    align-items: center;
}

.header-icon {
    height: 4em;
}

nav > ul {
    list-style-type: none;
    display: flex;
    gap: 0.5em;
}

.link {
    cursor: pointer;
}

.link:hover {
    color: pink;
}

/* Main styling */

main {
    padding: 0;
}

.hero-container {
    margin-bottom: 2em;
}

.hero-image {
    width: 100%;
}

.hero-index {
    position: relative;
}

.hero-index > .hero-text {
    padding: 0.25em;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    min-width: 40vw;
    position: absolute;
    bottom: -1em;
    left: 5vw;
    margin-left: auto; 
    margin-right: auto;
}

.character-post {
    display: flex;
    flex-direction: column;
    position: relative;
}

.post-splash {
    display: block;
    width: 100%;
    max-width: 400px;
    max-height: 12em;
    object-fit: cover;
    margin: 0 auto;
}

.post-quote {
    width: 100%;
    max-width: 400px;
    position: absolute;
    top: 8em;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
}

.post-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    margin: 0;
}

.type-icon {
    height: 2em;
}

.post-container > p {
    margin-bottom: 0.5rem;
}

.grid-container {
    margin: 0 1em;
}

@media (min-width: 600px) {
    .grid-container {
        display: grid;
        grid-template-columns: minmax(275px, 1fr) minmax(275px, 1fr);
        gap: 1em;
    }
}

@media (min-width: 900px) {
    .grid-container {
        display: grid;
        grid-template-columns: minmax(275px, 1fr) minmax(275px, 1fr) minmax(275px, 1fr) ;
        gap: 1em;
    }
}