.footer-container {
    background: #252525;
    color: #AAAAAA;
    font-size: 0.875rem;
    font-weight: 500;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-icon {
    font-size: 1.2rem;
}

.footer-container > p {
    padding: 0;
    margin: 0.25em;
}

.footer-container > a {
    display: flex;
    align-items: center;
    padding-top: 0.6em;
}

.footer-container > a:hover {
    color: #FF8C38
}