.footer-container {
    background: #252525;
    color: #AAAAAA;
    font-size: 0.875rem;
    font-weight: 500;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-icon {
    font-size: 1.2rem;
}

