.hostpage-container {
    padding: 0 1.5rem;
}

.hostpage-navbar {
    display: flex;
    justify-content: space-evenly;
}

.host-graph {
    max-width: 100%;
}

/* host dashboard styling */

.host-dash-welcome {
    padding: 1.75rem 0.5rem 1rem 0.5rem;
    background-color: #FFEAD0;
}

.host-dash-welcome-income,
.host-dash-vans-nav,
.host-dash-review {
    display: flex;
    justify-content: space-between;
    align-items: center
} 

.host-dash-vans-nav {
    padding: 0.75rem 0.5rem  0 0.5rem;
}

.host-dash-welcome-earned {
    font-weight: bold;
}

.host-dash-review {
    background-color: #FFDDB2;
    padding: 1.75rem 0.5rem
}


/* host van listing styling */

.host-van-listing {
    border-radius: 0.5em;
    background-color: white;
    padding: 1.15em;
    margin-bottom: 0.75em;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    align-items: center;
}

.host-van-listing-image {
    width: 4.125rem;
    border-radius: 0.5em;
    margin-right: 1rem;
}

.host-van-listing-detail {
    display: flex;
    flex-direction: column;
}

.host-van-listing-name {
    font-size: 1.25rem;
    font-weight: 600;
}

.host-van-listing-price {
    color: #4D4D4D;
    font-weight: 500;
}

.host-van-listing:hover {
    box-shadow: 0 0 4px black;
}

/* host income styling */

.host-income-container,
.host-reviews-container {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.host-income-transaction {
    background: white;
    padding: 1rem 0.75rem;
}

.m4 {
    margin-top: 1rem
}

/* host review styling */

.host-reviews-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.review {
    background-color: white;
    padding: 0.75rem;
    border-radius: 0.5rem;
}

.review-star {
    color: #FF8C38;
    margin-right: 0.25rem;
}

.review-info {
    display: flex;
    gap: 0.5rem;
}

.review-name {
    font-weight: bold;
}

.review-date {
    color: #8C8C8C;
}