.hostpage-container {
    padding: 0 1.5rem;
}

.hostpage-navbar {
    display: flex;
    justify-content: space-evenly;
}

/* host dashboard styling */

.host-dash-welcome {
    padding: 0.75rem 0.5rem;
    background-color: #FFEAD0;
}

.host-dash-welcome-income,
.host-dash-vans-nav,
.host-dash-review {
    display: flex;
    justify-content: space-between;
    align-items: center
} 

.host-dash-vans-nav {
    padding: 0.75rem 0.5rem  0 0.5rem;
}

.host-dash-welcome-earned {
    font-weight: bold;
}

.host-dash-review {
    background-color: #FFDDB2;
    padding: 1.75rem 0.5rem
}


/* host van listing styling */

.host-van-listing {
    border-radius: 0.5em;
    background-color: white;
    padding: 1.15em;
    margin-bottom: 0.75em;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    align-items: center;
}

.host-van-listing-image {
    width: 4.125rem;
    border-radius: 0.5em;
    margin-right: 1rem;
}

.host-van-listing-detail {
    display: flex;
    flex-direction: column;
}

.host-van-listing-name {
    font-size: 1.25rem;
    font-weight: 600;
}

.host-van-listing-price {
    color: #4D4D4D;
    font-weight: 500;
}

.host-van-listing:hover {
    box-shadow: 0 0 4px black;
}
