.navbar-container {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em
}

.navbar-logo {
    height: 1.25em;
}

.navbar-links {
    display: flex;
    flex-wrap: wrap;
}

.navbar-links > a {
    color: #4D4D4D;
    font-weight: 600;
    font-size: 1rem;
    margin-left: 1em;
    text-decoration: none;
    text-transform: capitalize;
}

.navbar-links > a:hover,
.navbar-links > a:active,
.navbar-links > a.isActive {
    color: #161616;
    text-decoration: underline;
}
